.wd-table{
    
        border-collapse: collapse;
        border-color: lightgray;
        width: 100%;
    
}
.wd-row{
    padding: 12px;
    margin-left: 12px;
    padding-left: 12px;
}
.wd-container{
    justify-content: center;
    display: flex;
    padding: 12px;
    margin-left: 12px;
    background-color: white;
    color: black;
}
.wd-anchoor{
 text-decoration: none;
  color: inherit;
  justify-content: space-evenly;
}
.wd-btxt{
    font-weight: bolder;
    font-size: large;
}
.wd-ic{
    display: inline-block; 
    float: right;
}
.wd-profile{
    width: 48px;
    height: 48px;
    float: left;
    padding-right: 12px;
}
.wd-bookmar{
    text-align: center;
}
.wd-icon{
    color: #055df5;
}
.wd-posts{
    border-top-left-radius:10px ;
    border-top-right-radius:10px;
}
.wd-pos{
    padding: 55px;
}

.wd-rounded-corners-all-around {
  border: 2px solid #ccc;
  border-radius: 10px; 
  width: fit-content;

   }
.wd-maxwidth{
    width: 100%;
}
.wd-width{
    width: 456px;
    height: 400px;
}
.wd-bullets{
    list-style-type: none;
    display: flex;
    padding-left: 30px;

}
